/* global */
.container{
    max-width: 1140px;
    margin: 0 auto;
}

.text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.underline:hover{
    text-decoration: underline;
}

/* page */
/* top */
header{
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top{}

.menu{
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
}

.menu a:hover{
    box-shadow: inset 10px 5px 5px grey;
    border-radius: 5%;
}

.top_middle{
    display: flex;
    padding: 107px 0 190px;

    background-image:url(../img/top_banner.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.top_middle_content{}
.top_middle_content h1{
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;

    width: 504px;
}
.top_middle_content p{
    width: 425px;
    margin-top: 32px;
}

.top_middle_content a{
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-align: center;
    padding: 15px 50px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    margin-top: 71px;
}

/* middle */

.middle{}
.middle_top{}
.middle_top_content{}

.middle_top_content h3{
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;

    margin-top: 64px;
}

.middle_top_content_card{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 359px;
    margin-top: 64px;

    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.card img{
    display: block;
    margin: 43px auto 51px;
}

.card h4{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;

    width: 283px;
    margin-left: 32px;
}

.card p{
    margin-left: 32px;
    margin-top: 14px;

    width: 268px;
}

.card a{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.card_link{
    display: block;
    margin-top: 29px;
    margin-left: 32px;
    margin-bottom: 44px;

    background-image: url(../img/arrow_card_link.svg);
    background-repeat: no-repeat;
    background-position: 100px center;
}

.middle_middle{
    margin-top: 64px;
}
.middle_middle h3{
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.middle_middle p{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #222222;

    text-align: center;
    width: 750px;
    margin: 32px auto 64px;
}

.middle_bottom{}

.middle_bottom_box_banner{
    position: relative;
}

.middle_bottom_box_banner img{
    max-width: 100%;
}

.middle_bottom_box_text{
    position: absolute;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 64px;
    right: 64px;
}

.middle_bottom_box_img{
    display: flex;
    justify-content: space-between;
    
    margin-top: 32px;
    margin-bottom: 112px;
}

.middle_bottom_box_img img{
    max-width: 100%;
}

.middle_bottom_box_img_box{
    position: relative;
}

.middle_bottom_box_img_box p{
    position: absolute;
    
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;

    top: 32px;
    left: 32px;
}

/* footer */
footer{
    background: #316099;
    max-width: 100%;
}
.bottom{}

.bottom_top{
    display: flex;
    justify-content: space-between;
}

.bottom_top_content{
    flex-grow: 1;
}

.bottom_top_content h3{
    max-width: 340px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;

    margin-top: 91px;
}

.bottom_top_content p{
    max-width: 495px;
    color: #FFFFFF;

    margin-top: 32px;
    margin-bottom: 96px;
}


.bottom_top_link{
    align-self: center;
}

.bottom_top_link a{
    background: #5A98D0;
    display: block;
    width: 236px;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.border{
    border: 1px solid #FFFFFF;
    opacity: 0.4;
}

.bottom_bottom_contacts{
    margin-top: 64px;
}

.bottom_bottom_contacts ol{
    display: flex;
    justify-content: space-between;
}

.bottom_bottom_contacts ol li:first-child::before{
    content: "1.";
    display: block;
    margin-right: 16px;
}

.bottom_bottom_contacts ol li:nth-child(2)::before{
    content: "2.";
    display: block;
    margin-right: 16px;
}

.bottom_bottom_contacts ol li:last-child::before{
    content: "3.";
    display: block;
    margin-right: 16px;
}

.bottom_bottom_contacts ol li{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    display: flex;
    flex-basis: 33.3%;
    flex-grow: 1;
}
.bottom_bottom_contacts_links{
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.bottom_bottom_reserved p{
    color: #FFFFFF;
    width: 310px;
    opacity: 0.4;

    margin-top: 64px;
    padding-bottom: 64px;
}
/* end page */


@media(max-width: 1024px){

    /* top */
    header{
        background: linear-gradient(0deg, #DFEDF8 8.84%, rgba(152, 195, 232, 0) 31.12%);
    }
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }

    .top_middle{
        background-size: 44%;
        background-position: right 280px;
    }
    /*top end*/

    /*middle*/
    .middle{
        width: 100%;
        box-sizing: border-box;
        margin: 0 0;
    }
    .middle_top_content h3{}

    .middle_top_content_card{
        flex-direction: column;
        margin-top: 32px;
    }

    .card{
        align-self: center;
        width: 334px;
        margin: 32px 0 0;
    }

    .middle_middle{
        margin: 0;
    }

    .middle_middle h3{
        margin-top: 127px;
    }

    .middle_middle p{
        width: 75%;
        margin: 32px auto 0;
    }

    /*middle bottom*/

    .middle_bottom_box_img{
        margin-bottom: 109px;
    }
    .middle_bottom_box_banner{
        margin-top: 64px;
    }

    .first_img_box{
        margin-right: 16px;
    }
    .middle_bottom_box_img_box p{
        top: 19px;
        left: 19px;
    }


    /*bottom end*/
    /*footer*/

    .footer{}
    .container{}
    .bottom_top{
        margin: 0px 110px;
    }
    .bottom_top_content{}
    .bottom_top_content h3{
        margin-top: 47px;
    }
    .bottom_top_content p{
        margin-bottom: 64px;
    }

    .bottom_bottom{
        margin: 0px 110px;
    }

    .bottom_bottom_contacts{}
    .bottom_bottom_contacts ol{
        flex-direction: column;
    }
    .bottom_bottom_contacts ol li{
        margin-top: 25px;
    }
    .bottom_bottom_contacts ol li:first-child{
        margin-top: 0px;
    }


} /*media 1024 end*/


@media(max-width: 667px){

    .container{
        padding-left: 16px;
        padding-right: 16px;
    }

    /* top */
    header{
        background: linear-gradient(0deg, #DAEAF7 8.84%, rgba(152, 195, 232, 0) 31.12%);
    }

    .top_middle{
        background-image: none;
        padding-bottom: 0px;
        padding-top: 36px;
    }

    .top_middle_content h1{
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #1F3F68;

        width: 100%;
    }
    .top_middle_content p{
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #1F3F68;
        opacity: 0.6;
        
        width: 100%;
    }
    
    .top_middle_content a{
        font-size: 12px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;
        display: block;
        width: 108px;
        padding: 0 0;
        margin: 32px auto 41px;
        background: #5A98D0;
        box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
        border-radius: 10px;
    }
    /*top end*/
    
    /*middle*/

    .middle_middle h3{
        margin-top: 64px;
        font-size: 24px;
        line-height: 28px;
    }

    .middle_middle p{
        width: 85%;
        margin: 32px auto 0;
    }

    /*middle bottom*/

    .middle_bottom_box_banner{
        margin-top: 82px;
    }
    .middle_bottom_box_text{
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        color: #FFFFFF;
        top: 16px;
        right: 16px;
    }

    .middle_bottom_box_img{
        margin: 0px 0px 64px;
        padding: 0px;
        flex-direction: column;
    }
    .first_img_box{
        margin: 0px;
    }
    .middle_bottom_box_img_box{
        margin: 16px 0px 0px;
        padding: 0px;
    }
    .middle_bottom_box_img_box p{
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;

        top: 16px;
        left: 16px;
    }

    /*bottom end*/
    /*footer*/

    footer{}
    .bottom{}
    .bottom_top{
        flex-direction: column;
        margin: 0px 0px;
    }
    .bottom_top_content{}
    .bottom_top_content h3{
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        margin-top: 18px;
    }
    .bottom_top_content p{
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 40px;
    }

    .bottom_top_link{
        margin-bottom: 40px;
    }
    .bottom_top_link a{
        width: 108px;
        padding: 5px 0px;
    }

    .bottom_bottom{
        margin: 0px 0px;
    }
    .bottom_bottom_contacts{
        margin-top: 32px;
    }
    .bottom_bottom_contacts ol li{
        line-height: 19px;
        opacity: 1;
        margin-top: 17px;
    }
    .bottom_bottom_contacts ol li:first-child{
        margin-top: 0px;
    }
    .bottom_bottom_reserved p{
        text-align: center;
        margin: 0px auto;
        padding: 37px 0px 32px;
    }


} /* media 667 end*/



